body{
    background-image: url(./eb163fe93c70d07b4648ddf0a9ea5cee.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk
}
h1,span{
    font-style: italic ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
    background-color: crimson;
    text-align: center;
}
.card{
     /* background-image: url(./download\ \(1\).png) ;  */
    background-color: crimson; 
  
    border-radius: 12px;
}